@mixin flexInline(){
    display: inline-flex;
}

@mixin flexColumn(){
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

@mixin formInput($inputPadding:"10px 10px"){
   width: 100%;
    margin: 8px 0px;
    padding: #{$inputPadding};
    border: 0.5px solid #D9E1E7 ;
    border-radius: 5px;
    box-sizing: border-box;
   
}

@mixin formLabel($fs:"14px"){
    font-size: #{$fs};
}

.inline-input {
    @include flexInline();
}

.column-input {
    @include flexColumn();
}

.form-input{
    @include formInput();
}

.input1{
    @include formInput($inputPadding:"4px 4px");
}

.form-container {
    //width: 750px;
    
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-button {
    width: 100%;
    background-color: #217EFD;
    border: 2px solid #217EFD;
    padding: 8px 0px;
    border-radius: 5px;
    margin: 8px 0px;
}

.form-label {
    @include formLabel();
}